<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Eventos" src="../assets/calendar.png" />
  <span>Eventos</span>
</div>

<div class="content" role="main">

  <full-calendar [options]="calendarOptions"></full-calendar>

  <h3 style="padding-top:5px;">
    Editar eventos
    <button mat-raised-button color="primary" style="float:right;" (click)="addEvent()">Novo</button>
    <div class="clearfix"></div>
  </h3>

  <ng-container *ngIf="insert || editing">
    <form #eventForm="ngForm">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Responsável</mat-label>
              <input matInput name="NomeResponsavel" [(ngModel)]="evento.NomeResponsavel">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Início</mat-label>
              <input matInput [matDatepicker]="DataInicio" name="DataInicio" [(ngModel)]="evento.DataInicio">
              <mat-datepicker-toggle matSuffix [for]="DataInicio"></mat-datepicker-toggle>
              <mat-datepicker #DataInicio></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Fim</mat-label>
              <input matInput [matDatepicker]="DataFim" name="DataFim" [min]="evento.DataInicio" [(ngModel)]="evento.DataFim">
              <mat-datepicker-toggle matSuffix [for]="DataFim"></mat-datepicker-toggle>
              <mat-datepicker #DataFim></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Sala</mat-label>
              <mat-select [(ngModel)]="evento.IdSala" name="IdSala">
                <mat-option *ngFor="let sala of salas" [value]="sala.Id">
                  {{sala.Nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
          </td>
          <td>
            <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
          </td>
        </tr>
      </table>
    </form>
  </ng-container>

  <div class="table-responsive">
    <table mat-table [dataSource]="eventos" class="mat-elevation-z8" *ngIf="eventos && eventos.length > 0">

      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > </mat-header-cell>
        <mat-cell *matCellDef="let row" >
             <button mat-raised-button color="warn">Deletar</button>
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="NomeResponsavel">
        <th mat-header-cell *matHeaderCellDef> Responsável </th>
        <td mat-cell *matCellDef="let element"> {{element.NomeResponsavel}} </td>
      </ng-container>
    
      <ng-container matColumnDef="DataInicio">
        <th mat-header-cell *matHeaderCellDef> Início </th>
        <td mat-cell *matCellDef="let element"> {{element.DataInicio}} </td>
      </ng-container>
    
      <ng-container matColumnDef="DataFim">
        <th mat-header-cell *matHeaderCellDef> Fim </th>
        <td mat-cell *matCellDef="let element"> {{element.DataFim}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Sala">
        <th mat-header-cell *matHeaderCellDef> Sala </th>
        <td mat-cell *matCellDef="let element"> {{element.Sala}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="delete(row)">
      </tr>
    </table>
  </div>

</div>

<router-outlet></router-outlet>